
extends menu
block content
      div.screen-body-item 
            
            form(method='POST', action='/form_action_contact_us')
                  h1 Please enter your information to contact RSA
                  div.input
                        label(for='name') Name:
                        input(type='text', name='name')
                  div.input
                        label(for='email') Email:
                        input(type='email', name='email')
                  div.input
                        label(for='number') Number:
                        input(type='tel', name='number')
                  div.input
                        label(for='message') Message:
                        input(type='text', name='message')
                  input.btn-lg(type='submit', value='Submit')
