extends menu

block content
    div
        p Yeshivas Chofetz Chaim is a Slabodka Yeshiva in America, founded by Rav Dovid Leibowitz ZT"L in 1933. Our Lithuanina-style Talmudic Yeshiva proudly boasts many affiliate brances across Israel and North America. Over the past 84 years, we have been fulufiiling our two-fold objective:
            to provide young Jews with an outstanding Torah education of the highest caliber, 
            and to equip them with the training and commitment to
            serve in leadership positions for Jewish communities throughout the world. 
            RSA is at the forefront of a Torah rennaisance, producing rabbonim, principals, 
            teachers and outreach workers who are revitalizing Jewish life on this continent 
            and beyond. More than 100 communities in the United States alone are benefiting from 
            RSA alumni, and the demand for qualified graduates continues to grow.


        